/* Boxed Container */
body {
	.boxed-container {
		background-color: #ffffff;
		overflow-x: hidden;
	}

	&.boxed {
		> .boxed-container {
			position: relative;
			margin: 0 auto;
			box-shadow: 0 0 ptr(30) rgba(0, 0, 0, .1);
			max-width: 100%;

			@include media-breakpoint-up(md) {
				width: (map-get($container-max-widths, md) + 60px);
			}

			@include media-breakpoint-up(lg) {
				width: (map-get($container-max-widths, lg) + 60px);
			}

			@include media-breakpoint-up(xl) {
				width: (map-get($container-max-widths, xl) + 60px);
			}
		}
	}
}
