/* Sidebar */
.sidebar {
	margin-top: ptr(60);

	@include media-breakpoint-up(lg) {
		margin-top: 0;
		opacity: 0;
		transition: opacity .2s ease-in-out;

		&.is-shown {
			opacity: 1;
		}

		@at-root {
			.is-main-menu-undefined & {
				opacity: 1;
			}
		}
	}

	&__header-widgets {
		font-size: ptr(15);
		font-weight: bold;
		color: $gray-dark;
		margin-bottom: ptr(30);

		@include media-breakpoint-up(lg) {
			background-color: rgba(255, 255, 255, .1);
			color: #ffffff;
			border-bottom-left-radius: $border-radius;
			border-bottom-right-radius: $border-radius;
			box-shadow: 0 5px 30px rgba(0, 0, 0, .2);
			margin-bottom: ptr(60);
		}

		.widget {
			position: relative;
			padding: ptr(18) ptr(30);

			.sidebar & {
				margin-bottom: 0;
			}

			&:not(:last-of-type) {
				&::after {
					position: absolute;
					content: '';
					height: 1px;
					bottom: 0;
					left: 0;
					right: 0;
					background-color: rgba(0, 0, 0, .15);

					@include media-breakpoint-up(lg) {
						background-color: rgba(255, 255, 255, .15);
						left: ptr(15);
						right: ptr(15);
					}
				}
			}
		}

		+ .btn-featured {
			margin-top: ptr(-20);

			@include media-breakpoint-up(lg) {
				margin-top: ptr(-50);
			}
		}
	}

	&__main-navigation {
		padding-bottom: ptr(30);

		@include media-breakpoint-up(lg) {
			box-shadow: 0 3px 15px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .15);
			margin-bottom: ptr(30);
			padding-bottom: 0;
		}
	}

	&__headings {
		padding-bottom: ptr(8);
		font-size: ptr(20);
	}

	.widget {
		margin-bottom: ptr(38);
	}
}
